<p id="notice"><%= notice %></p>

<p>
  <strong>Dateofinfection:</strong>
  <%= @dateofinfection.dateofinfection.time.to_formatted_s(:long_ordinal) %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @dateofinfection.animal.name %>
</p>

<p>
  <strong>Disease:</strong>
  <%= @dateofinfection.disease.name %>
</p>

<%= link_to 'Edit', edit_dateofinfection_path(@dateofinfection) %> |
<%= link_to 'Back', dateofinfections_path %>
