<!DOCTYPE html>
<html>
  <head>
    <title>VeterinarianOffice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h2>KIK's Vet Office</h2>
  <p class="fancy">
    <%= link_to 'Animals', animals_path %>
    <%= link_to 'Date of Infection', dateofinfections_path %>
    <%= link_to 'Diseases', diseases_path %>
    <%= link_to 'Owners', owners_path %>
  </p>
    <%= yield %>
  </body>
</html>
